<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>C 4 R T W R I G H T</title>
    </head>

    <body>
        <section class="hero">
            <div class="hero-inner"></div>
        </section>
        <main>
            <section class="section intro-copy">
                <div class="container">
                    <header class="intro-header">
                        <p>
                            Who are you, again?
                        </p>
                        <hr class="horiz">
                    </header>
                    <div class="columns">
                        <div class="intro-image column is-two-fifths">
                            <figure>
                                <img src="img/heirophant1.png" alt="heirophant">
                            </figure>
                        </div>
                        <div class="column intro-text">
                            <div>
                                <p>I’m a Full-Stack Web Developer with about seven years of professional experience working with 
                                Javascript, PHP, and CSS, with the majority of my work being within the affiliate dating industry.</p> 
    
                                <p>My primary experience is in the design and development of tools and user interfaces for company-wide administrative
                                processess, as well as customer-facing landing pages and product features. </p>
    
                                <p> I thrive in environments that foster a diverse team, and I love to give (and receive) positive feedback,
                                    whether it be for exemplary work or just turning team members on to new tech that's fun to use, and can make a tangible impact on the codebase.
                                </p>

                                <p>A positive attitude is paramount in the makeup of a great programmer, and I pride myself on 
                                my 'never say die' attitude when it comes to anything a client (or management) throws my way.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section skillset-demo">
                <div class="skillset container">
                    <div>
                        <header class="intro-header">
                            <p>What are you into?</p>
                            <hr class="horiz">
                        </header>
                    </div>
                    <div class="skills-lists" id="skills">
                        <h1 class="subtitle is-5">These are the technologies in which I would consider myself quite well-versed:</h1>
                        <div class="columns">
                            <div class="column is-one-third">
                                <div class="skill-tabs">
                                    <span 
                                      v-on:click="displaySkillset($event, item)" 
                                      v-for="item in skilltabs"
                                    >
                                        {{item}}
                                    </span>
                                </div>        
                            </div>
                            <div class="column">
								<div class="front-end-skillset" v-if="currentTab == 'front-end'">
									<dl class='html'>
										<dt>HTML5 + Template Engines</dt>
										<dd>smarty</dd>
										<dd>pug</dd>
										<dd>blade</dd>
									</dl>
									<dl class='javascript'>
										<dt>
											Javascript + Frameworks
										</dt>
										<dd>Vue.js</dd>
										<dd>jQuery UI</dd>
										<dd>jQuery Mobile</dd>
										<dd>Prototype.js</dd>
									</dl>
									<dl class='css'>
										<dt>
											CSS3 + Frameworks + Pre-Processors
										</dt>
										<dd>Bulma</dd>
										<dd>Bootstrap</dd>
										<dd>Less</dd>
									</dl>
								</div>
								<div class="back-end-skillset" v-if="currentTab == 'back-end'">
									<dl class='ci-tools'>
										<dt>
											DevOps
										</dt>
										<dd>Jenkins</dd>
										<dd>CircleCI</dd>
										<dd>Grunt.js</dd>
										<dd>Sentry</dd>
									</dl>
									<dl class='php'>
										<dt>
											PHP + Frameworks                          
										</dt>
										<dd>Laravel 5.2+</dd>
										<dd>CakePHP 3.x</dd>
									</dl>
									<dl class='node'>
										<dt>
											Node.JS + Frameworks 
										</dt>
										<dd>Express.JS</dd>
										<dd>LoopBack 3.x</dd>
									</dl>
									<dl class='databases'>
										<dt>
											Databases
										</dt>
										<dd>MySQL</dd>
										<dd>PostgreSQL</dd>
									</dl>
									<dl class='server'>
										<dt>
											Web Servers
										</dt>
										<dd>NGINX</dd>
									</dl>
								</div>
							 	<div class="org-skillset" v-if="currentTab == 'organizational'">
									<dl class='collaboration'>
										<dt>
											Collaboration
										</dt>
										<dd>Github</dd>
										<dd>JIRA</dd>
										<dd>Confluence</dd>
										<dd>iMeet Central</dd>
									</dl>
									<dl class='bi-software'>
										<dt>
											BI Software
										</dt>
										<dd>Periscope Data</dd>
									</dl>        
									<dl class='help-desk'>
										<dt>
											Customer Service
										</dt>
										<dd>Kayako</dd>
									</dl>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section portfolio">
				<div>
					<header class="intro-header">
						<p>Portfolio</p>
						<h1 class="subtitle is-5">
						    These are some of the projects and products I've worked on over the years.
						</h1>
						<h1 class="subtitle is-5">
							Code samples can be found on <a href="https://github.com/c4rtwright">my Github profile.</a>
						</h1>
						<hr class="horiz">
						<div class="warning">
							<p>Hold on!</p>
							<span>The majority of my work has been in the adult industry, and as such as a bit of nudity. Please <a class="unblur">click here</a> if you're cool with that. 
						</span>
						</div>						
					</header>
				</div>
                <div>
                    <div class="columns row-one">
                        <div class="column portfolio-blur"></div>
                        <div class="column portfolio-blur"></div>
                        <div class="column portfolio-blur"></div>
                    </div>
                    <div class="columns row-two">
                        <div class="column portfolio-blur"></div>
                        <div class="column portfolio-blur"></div>
                        <div class="column portfolio-blur"></div>
                    </div>
                    <div class="columns row-three">
                        <div class="column portfolio-blur"></div>
                        <div class="column portfolio-blur"></div>
                        <div class="column portfolio-blur"></div>
                    </div>
					<div class="columns row-four">
                        <div class="column portfolio-blur"></div>
                        <div class="column portfolio-blur"></div>
                        <div class="column portfolio-blur"></div>
                    </div>
                </div>
            </section>
			<section class='section contact'>
				<header class="intro-header">
					<p>Would you like to know more?</p>
					<h1 class="subtitle is-5">Feel free to contact me at <a href="#">m1ke.haynes@protonmail.com</a> if you'd like to get in touch.</h1>
				</header>
			</section>
        </main>
    </body>
</html>
<script src="js/vue/vue.min.js"></script>
<script src="js/index.js"></script>